################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/iPlaylistToM3U/v15
/iPlaylistToM3U/bin/Debug
/iPlaylistToM3U/obj/Debug
